@{
    ViewBag.Title = "Home Page";
}

<h1 style="font-size:40px;"><b>Büşra Başaran</b></h1>
<h2 style="text-align:center">Özgeçmiş</h2>
<br />
<img src="https://www.facebook.com/Foto-World-foto-%C5%9Bwiat-449000481779692/photos/" width="200" />
<br />
<br />
<h3><b>Kişisel Bilgiler</b></h3>
<br />
<table>
    <tr>
        <td width="250"><b>Doğum Tarihi:</b></td>
        <td width="250">07/09/1992</td>
    </tr>
    <tr>
        <td><b>Doğum Yeri:</b></td>
        <td>İstanbul</td>
    </tr>
    <tr>
        <td><b>Telefon:</b></td>
        <td>+905364302925</td>
    </tr>
    <tr>
        <td><b>Mail:</b></td>
        <td>busrab92@hotmail.com</td>
    </tr>
    <tr>
        <td><b>Adres Bilgisi:</b></td>
        <td>Bahçelievler/İstanbul</td>
    </tr>
    <tr>
        <td><b>Linkedin Bağlantısı:</b></td>
        <td> <p><a href="https://www.linkedin.com/in/b%C3%BC%C5%9Fra-ba%C5%9Faran-9b529b102/">Büşra Başaran's Linkedin</a></p></td>
    </tr>
</table>
<hr />
<h3><b>Eğitim Bilgileri</b></h3>
<br />
<table>
    <tr>
        <td width="250"><b>Bölümü</b></td>
        <td width="250"><b>Eğitim Kurumu</b></td>
        <td width="250"><b>Derecesi</b></td>
    </tr>
    <tr>
        <td>Kimya Mühendisliği </td>
        <td>Orta Doğu Teknik Üniversitesi</td>
        <td>2,80</td>
    </tr>
    <tr>
        <td>İşletme Mühendisliği (MBA)</td>
        <td>İstanbul Teknik Üniversitesi</td>
        <td>3,00</td>
    </tr>
    <tr>
        <td>Software Developer</td>
        <td>BilgeAdam</td>
        <td>-</td>
    </tr>
</table>
<hr />
<h3><b>İş Deneyimleri</b></h3>
<br />
<table>
    <tr>
        <td width="250"><b>Tarih Aralığı</b></td>
        <td width="250"><b>Şirket Adı</b></td>
        <td width="250"><b>Pozisyon</b></td>
    </tr>
    <tr>
        <td>2016/2018</td>
        <td>ARÇELİK R&D</td>
        <td>AR&GE Proje Mühendisi</td>
    </tr>
    <tr>
        <td>2018/2019</td>
        <td>MEDA</td>
        <td>İdari Danışmanlık Asistanı</td>
    </tr>
</table>
<hr />
<h3><b>Dil Bilgileri</b></h3>
<br />
<table>
    <tr>
        <td width="250"><b>İngilizce:</b></td>
        <td width="250">Advanced (Ielts:6.5)</td>
    </tr>
    <tr>
        <td><b>Almanca:</b></td>
        <td>Beginner</td>
    </tr>
</table>
<hr />
<h3><b>Yetkinlikleri</b></h3>
<br />
<ul>
    <li>Windows Operating Systems Office Applications</li>
    <li>AutoCAD</li>
    <li>Matlab-Simulink</li>
    <li>MathCAD</li>
    <li>Fortran</li>
    <li>Minitab</li>
    <li>ChemCAD</li>
    <li>Polymath</li>
    <li>ASPEN-HYSYS</li>
    <li>C#</li>
    <li>Windows Forms</li>
    <li>OOP</li>
    <li>SQL</li>
    <li>EntityFramework</li>
</ul>
